/*
COLORS
1. #9382B2 (purple)
2. #FFDEBA (beige)
3. #E2D3FF (lightpurple)
4. #95CC9E (green)
5. #8BB292 (darkgreen)
#a5c0d0


/*
Html, body
*/
html, body{
    height:100%;
    width:100%;
    overflow: visible;
    overflow-x: hidden;
}
body{
    background:#a5c0d0;
}
/*
Header
*/

.page-header-wrapper{
    background-image: url(images/pano2.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height:300px;
}

.header{
}

.header .col{
    margin-bottom:0;
}
.header .col:first-of-type{
    position:relative;
    top:6px;
}
.header-logo h1{
    margin:0;
    padding:0;
    text-align: center;
}
.header-logo h1 a{
    color:rgba(255,255,255,1);
    text-decoration: none;
    color:#FAFAFA;
}
.header-logo h1 a:hover,
.header-logo h1 a:focus{
    color:white;
}

/*
Navigation
*/
#home-navigation ul{
    margin:2.150538% 0 0;
    padding:0;
    list-style:none;
}
#home-navigation ul>li{
    border:3px solid white;
}
#home-navigation ul>li>a{
    text-align:center;
    display:block;
    text-decoration: none;
    padding:30px;
    font-size:26px;
    color:white;
}
#home-navigation ul>li>a>i{
    display:block;
    font-size:32px;
}
#home-navigation ul>li>a:hover,
#home-navigation ul>li>a:focus{
    color:black;
    border-color: black;
    background: rgba(255, 255, 255, 0.32);
}
.navigation-wrapper{
    background: pink;
}
.navigation-wrapper .row{
    margin:0 -1.075269%;
}
.navigation-wrapper .row>.col{
    margin:0;
    width:100%;
}
.navigation-wrapper nav.main-navigation>ul{
    list-style: none;
    margin:0;
    padding:0;
}
.navigation-wrapper nav.main-navigation>ul>li{
    float:left;
    width:33.33333%;
    border-right:1px solid black;
    border-left:1px solid white;
}
.navigation-wrapper nav.main-navigation>ul>li>a{
    display:block;
    padding:6px 12px;
    text-decoration: none;
    font-weight:500;
    text-align: center;

}
.navigation-wrapper nav.main-navigation>ul>li>a>i{
    display:block;
    font-size:1.6em;
}
.navigation-wrapper nav.main-navigation>ul>li.active{
    background:darkgreen;
}
.navigation-wrapper nav.main-navigation>ul>li.active>a{
    color:darkorange;
}
.navigation-wrapper nav.main-navigation>ul>li:hover{
    background:fuchsia;
}
.navigation-wrapper nav.main-navigation>ul>li:hover>a{
    color:aquamarine;
}
/*
Main
*/
.main-wrapper blockquote{
    border-left:6px solid rgba(0,170,204,1);
    background:deeppink;
    margin:0;
    padding:2.150538%;
}

.openthe{
    padding:50px;
    background-color: rgba(0, 0, 0, 0.40);
    border: solid 3px;
    width:300px;
    height:auto;
    margin-top:60px;
}


.dataond{
    display:inline;
    padding:10px;
    background-color: rgba(255, 255, 255, 0.32);
    border:3px solid white;
}

div.page-content > div.wrapper.page-state-navigation-wrapper > nav > ul > li{
    margin-bottom:40px;
}

.paginauitleg{
    font-size:18px;
    padding:10px;
    text-align: center;

}

#uitleg{
    font-size:15px;
    font-size:2vw;
    padding:20px;
    text-align:center;
}

#about{
    text-align:center;
    padding:20px;
    font-size:16px;
    margin-bottom:-20px;
}

#about>p{
    text-align:center;
    font-size:16px;
}



/*
Fonts
*/

h1 {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.3999996185303px;
}
h3 {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 15.3999996185303px;
}
p {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

a {
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

/*
CONTACT FORM
*/

#feedback-page{
    text-align:center;
}

#form-main{
    width:100%;
    float:left;
    padding-top:0px;
}

#form-div {
    background-color:rgba(72,72,72,0.4);
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    padding-bottom:50px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
    margin-top:30px;
    margin-left: -260px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.feedback-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #a5c0d0;
    color: #a5c0d0;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
    color:#a5c0d0;
    border:#a5c0d0 solid 3px;
}

/* Icons ---------------------------------- */
#name{
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#name:focus{
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email{
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email:focus{
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#comment{
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color:white;
}

#button-blue{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #748b98;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#button-blue:hover{
    background-color: rgba(0,0,0,0);
    color: #0493bd;
}

.submit:hover {
    color: #3498db;
}

.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease{
    width:100%;
    background-color:white;
}

@media only screen and (max-width: 580px) {
    #form-div{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}
#form-div{
    padding: 20px;
    margin-top:-15px;
    margin-bottom:50px;
}

