/*
Styles for lists
*/
.list{
    margin:4px 0 0;
    padding:0;
    list-style: none;
}
.listitem{
    position:relative;
    border:3px solid white;
    padding:12px;
    height:100px;
}
.listitem-picture{
    width:48px;
    height:48px;
    border-radius:100%;
    overflow:hidden;
    display:block;
    float:left;
    margin-right:12px;
}
.listitem-picture img,
.listitem-picture source{
    width:100%;
}
.listitem-content{
    display:block;
}
.listitem-title{
    display:block;
    font-weight:700;
    font-size:1.2em;
    color:white;
    text-align:center;
}
.listitem-info{
    display:block;
    color:white;
    text-align:center;
}
.listitem-actions{
    position:absolute;
    top:12px;
    right:12px;
}