
/*
Pages
*/
.page{
    position:absolute;
    overflow: visible;
    overflow-x: hidden;
    top:-999em;
    left:-120%;
    width:100%;
    display:block;

    transition-property: top, left;
    transition-duration: 0ms, 1ms;
    transition-timing-function: linear, linear;
    transition-delay: 0s, 0s;
    opacity:0;
    min-height: 100%;
}
.page.active{
    transition-property: top, left;
    transition-duration: 0ms, 1ms;
    transition-timing-function: linear, linear;
    transition-delay: 0s, 0s;
    left:0;
    top:0;
    opacity:1;
}

#home{
    background:#a5c0d0;
}
/*
Page States
*/
.page-states{
    position:relative;
}
.page-state{
    position:absolute;
    overflow: visible;
    overflow-x: hidden;
    top:-999em;
    left:-120%;
    width:100%;
    display:block;
    transition-property: top, left;
    transition-duration: 0ms, 1ms;
    transition-timing-function: linear, linear;
    transition-delay: 0s, 0s;
    opacity:0;
    min-height: 100%;
}
.page-state.active{
    transition-property: top, left;
    transition-duration: 0ms, 1ms;
    transition-timing-function: linear, linear;
    transition-delay: 0s, 0s;
    left:0;
    top:0;
    opacity:1;
}

/*
Page State Navigation
*/
.page-state-navigation ul{
    margin:2.150538% 0 0;
    padding:0;
    list-style:none;
}
.page-state-navigation ul>li{
    display:block;
    float:left;
    border:3px solid white;
    margin-bottom:10px;

}

.page-state-navigation ul>li>a{
    text-align:center;
    display:block;
    text-decoration: none;
    padding:30px;
    font-size:20px;
    color:white;

}

.page-state-navigation ul>li.active>a,
.page-state-navigation ul>li:hover>a,
.page-state-navigation ul>li:focus>a
{
    color:black;
    border-color: black;
    background: rgba(255, 255, 255, 0.32);
}
/*
Wrappers
*/
.page-header-wrapper{
    height:100px;
}
.page-state-navigation-wrapper{
    background:#a5c0d0;
}